
{{!-- {{ debugger }} --}}

<div id="wrapper">
  <div id="sidebar-wrapper">
    <div id="logo">
      <img src="assets/images/logo.svg">
    </div>

    START LEFT Navigation
    <div class="list-group list-group-sidebar">
      <a href="javascript:" class="list-group-item active list-group-item-primary list-group-item-short">
        <span class="list-group-header">Length: {{ model.length }}</span>
      </a>
    </div>
    {{#each leftGroup in model.navs}}
    <div class="list-group list-group-sidebar">
      <a href="javascript:" class="list-group-item active list-group-item-primary list-group-item-short">
        <span class="list-group-header">{{ leftGroup.mainTitle }}</span>
      </a>
      {{#each leftItem in leftGroup.items}}
        <a href="javascript:" class="list-group-item" {{bind-attr data-divlink=leftItem.divlink}} {{bind-attr id=leftItem.id}}>
          <i {{bind-attr class=leftItem.icon}}></i>
          <span class="list-group-text">{{ leftItem.title }}</span>
        </a>
      {{/each}}
    </div>
    {{/each}}

  </div>
</div>


{{#each leftGroup in leftBarInfoArrC}}
  {{#each leftItem in leftGroup.items}}
    <div {{bind-attr id=leftItem.divlink}} class="slide-panel panel panel-default"></div>
  {{/each}}
{{/each}}
